[submodule "dependencies/corrade"]
	path = dependencies/corrade
	url = https://github.com/mosra/corrade
[submodule "dependencies/magnum"]
	path = dependencies/magnum
	url = https://github.com/mosra/magnum
[submodule "dependencies/imgui/imgui"]
	path = dependencies/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
